
<div class="articles">
	<% @articles.each do |article| %>
		<div class="article">
			<h2><%= article.title %></h2>
			<%= simple_format(article.body[0..300]+"...") %>
			<%= link_to 'Continue Reading...' , article_path(article),class: "continue_reading" %>
			<% if logged_in? %>
				<%= link_to "delete", article_path(article), method: :delete, data: {confirm: "Really delete the article?"} %>
			<% end %>
		</div>
	<% end -%>
	<% if logged_in? %>
		<%= link_to 'Create new article', new_article_path %>
	<% end %>
</div>

