<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Playfair+Display', media: 'all', 'data-turbolinks-track' => true %>

	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
	<%= link_to articles_path do%>
		<div class="logo">
			
		</div>
	<% end %>
</header>
  <div id="container">
	<div id="content">
	  <%= yield %>
	</div>
	  <hr>
	  <footer>
		<% if logged_in? %>
		 	<h5>
				<%= "Logged in as #{current_user.email}" %>
				<%= link_to "(logout)", logout_path %>
		  	</h5>
		<% end %>
	  </footer>
  </div>
</body>
</html>
